body{
    margin: 0;
    color:  black;
}

.btn-orange-outline {
    border: 1px solid #FE5D26;
    color: #FE5D26;
    background-color: transparent;
  }
  
  .btn-orange-outline:hover {
    background-color: #FE5D26;
    color: white;
  }
  