.recipeCard{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.4);
    border-radius: 10px; 
}

.recipeName{
    font-size: 26px;
    margin-bottom: 10px;
}

.recipeImage{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.recipeDetails{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeInstructions {
    padding: 15px;
    border-radius: 8px;
    background-color: #fff5f0;
    color: #4b1c1c;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.recipeInstructions ol {
    padding-left: 20px;
}

.recipeInstructions li {
    margin-bottom: 10px;
}
